<!DOCTYPE html>
<html>
<head>
  <title>SuperaMovie</title>
  <%= render 'layouts/stylesheeds' %>
  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
  <%= render 'layouts/header' %>
  <section>
  <%= yield %>
  </section>
  <footer>
  <%= render 'layouts/footer' %>
  </footer>
</div>
</body>
</html>
